.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 30px;
    box-sizing: border-box;
}

html {
    box-sizing: content-box;
}

.body {
    box-sizing: border-box;
}

.container,
.container-fluid {
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 30px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1142px;
}

.header__continer {
    padding-top: 28px;
    background-color: #3F2AFF;
    height: 80px;
}

.header__logo {
    width: 94px;
    height: 21px;
}

.header__list {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.header__link:focus-visible {
    color: #f0bff7;
    outline-style: #f0bff7;
}

.header__link:hover {
    color: #f0bff7;
}

.header__link:active {
    color: #a549de;
}

.header__item:not(:last-child) {
    margin-right: 57px;
}

.header__burger {
    display: none;
    cursor: pointer;
}


/*MAIN*/

.main__container {
    height: 620px;
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.main__promo {
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
}

.main__description {
    margin: 0;
    margin-bottom: 62px;
    width: 444px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.main__btn {
    padding: 24px 73px;
    width: 270px;
    height: 69px;
    background: #3F2AFF;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.main__btn:focus-visible {
    background-color: #555681;
    outline: none;
}

.main__btn:hover {
    background-color: #555681;
}

.main__btn:active {
    background-color: #8b27c9;
}

.main__left {
    padding-top: 130px;
}

.main__right {
    width: 100%;
    height: 593px;
    margin-top: 16px;
    background-image: url(../img/main.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/*BENEFITS*/

.benefits__img {
    margin-top: 102px;
    width: 190px;
    height: 142px;
    background-image: url(../img/benefits.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.benefits__content {
    margin-top: 80px;
    margin-bottom: 18px;
}

.benefits__head {
    margin: 0;
    margin-bottom: 18px;
    width: 380px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #2E2B44;
}

.benefits__descr {
    margin: 0;
    width: 585px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #666666;
}

.benefits__card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 74px;
}

.benefits__defin {
    width: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #666666;
}


/*TUTORS*/

.tutors__container {
    padding-top: 76px;
    padding-bottom: 74px;
    background-color: #212133;
}

.tutors__head {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
}

.tutors__photo {
    margin-bottom: 26px;
    width: 100%;
    height: 180px;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
}

.tutors__photo-one {
    background-image: url(../img/tutor-1.png);
}

.tutors__photo-two {
    background-image: url(../img/tutor-2.png);
}

.tutors__photo-three {
    background-image: url(../img/tutor-3.png);
}

.tutors__photo-four {
    background-image: url(../img/tutor-4.png);
}

.tutors__name {
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.tutors__descr {
    margin: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #85859B;
}


/*COURSES*/

.courses__container {
    padding-top: 74px;
    padding-bottom: 50px;
}

.courses__head {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #212133;
}

.courses__li {
    padding-left: 0;
}

.courses__card {
    margin-bottom: 30px;
    width: 100%;
}

.courses__content {
    position: relative;
    min-height: 270px;
    padding-top: 30px;
    padding-left: 30px;
    background: #EDF0F9;
    border-radius: 0px 0px 20px 20px;
}

.courses__img {
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.courses__img-one {
    background-image: url(../img/course-1.png);
}

.courses__img-two {
    background-image: url(../img/course-2.png);
}

.courses__img-three {
    background-image: url(../img/course-3.png);
}

.courses__img-four {
    background-image: url(../img/course-4.png);
}

.courses__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #212133;
}

.courses__descr {
    margin: 0;
    margin-bottom: 32px;
    margin-right: 30px;
    min-height: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.courses__btn {
    position: absolute;
    bottom: 30px;
    padding: 20.5px 59px;
    width: 202px;
    height: 60px;
    background: #3F2AFF;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.courses__btn:focus-visible {
    background-color: #555681;
    outline: none;
}

.courses__btn:hover {
    background-color: #555681;
}

.courses__btn:active {
    background-color: #8b27c9;
}

.courses__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.courses__hours {
    margin-right: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.courses__clock {
    margin-right: 5px;
}


/*FOOTER*/

.footer__container {
    padding-top: 28px;
    padding-bottom: 28px;
    background: #2E2B44;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 14px;
}

.footer__item {
    width: 24px;
    height: 24px;
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.footer__item:hover path {
    fill: #f0bff7;
}

.footer__item:active path {
    fill: #a549de;
}

.footer__item:not(:last-child) {
    margin-right: 30px;
}


/*SKILLBOX*/

.skillbox__content {
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

.skillbox__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #2E2B44;
}

.skillbox__symbol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #3F2AFF;
}


/*MENU*/

.menu {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 100;
    height: 620px;
    width: 100%;
}

.header__close {
    cursor: pointer;
    display: none;
    height: 20px;
    width: 50px;
    min-width: 50px;
    margin-top: 3px;
    margin-right: 3px;
}

.menu__container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    min-width: 100%;
    background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.menu__nav {
    padding-top: 10px;
    margin-bottom: 135px;
    padding-right: 30px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu__nav .nav__link {
    font-size: 30px;
}

.menu__nav .nav__item:not(:last-child) {
    margin-bottom: 51px;
}

.nav__link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}